<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-query-heading" data-cy="QueryCreateUpdateHeading" ceetTranslate="yourpcstoreApp.query.home.createOrEditLabel">
        Create or edit a Query
      </h2>

      <div>
        <ceet-alert-error></ceet-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" ceetTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.query.price" for="field_price">Price</label>
          <input type="number" class="form-control" name="price" id="field_price" data-cy="price" formControlName="price" />
          <div *ngIf="editForm.get('price')!.invalid && (editForm.get('price')!.dirty || editForm.get('price')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('price')?.errors?.required" ceetTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('price')?.errors?.number" ceetTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.query.dateQuery" for="field_dateQuery">Date Query</label>
          <div class="input-group">
            <input
              id="field_dateQuery"
              data-cy="dateQuery"
              type="text"
              class="form-control"
              name="dateQuery"
              ngbDatepicker
              #dateQueryDp="ngbDatepicker"
              formControlName="dateQuery"
            />
            <button type="button" class="btn btn-secondary" (click)="dateQueryDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
          <div *ngIf="editForm.get('dateQuery')!.invalid && (editForm.get('dateQuery')!.dirty || editForm.get('dateQuery')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateQuery')?.errors?.required"
              ceetTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.query.customer" for="field_customer">Customer</label>
          <select class="form-control" id="field_customer" data-cy="customer" name="customer" formControlName="customer">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="customerOption.id === editForm.get('customer')!.value?.id ? editForm.get('customer')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.query.product" for="field_product">Product</label>
          <select class="form-control" id="field_product" data-cy="product" name="product" formControlName="product">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productOption.id === editForm.get('product')!.value?.id ? editForm.get('product')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.query.consultant" for="field_consultant">Consultant</label>
          <select class="form-control" id="field_consultant" data-cy="consultant" name="consultant" formControlName="consultant">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="customerOption.id === editForm.get('consultant')!.value?.id ? editForm.get('consultant')!.value : customerOption"
              *ngFor="let customerOption of customersSharedCollection; trackBy: trackCustomerById"
            >
              {{ customerOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.query.queryList" for="field_queryList">Query List</label>
          <select class="form-control" id="field_queryList" data-cy="queryList" name="queryList" formControlName="queryList">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="productOption.id === editForm.get('queryList')!.value?.id ? editForm.get('queryList')!.value : productOption"
              *ngFor="let productOption of productsSharedCollection; trackBy: trackProductById"
            >
              {{ productOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ceetTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ceetTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
