<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="ceet-shop-heading" data-cy="ShopCreateUpdateHeading" ceetTranslate="yourpcstoreApp.shop.home.createOrEditLabel">
        Create or edit a Shop
      </h2>

      <div>
        <ceet-alert-error></ceet-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" ceetTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.shop.nameShop" for="field_nameShop">Name Shop</label>
          <input type="text" class="form-control" name="nameShop" id="field_nameShop" data-cy="nameShop" formControlName="nameShop" />
          <div *ngIf="editForm.get('nameShop')!.invalid && (editForm.get('nameShop')!.dirty || editForm.get('nameShop')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameShop')?.errors?.required"
              ceetTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nameShop')?.errors?.maxlength"
              ceetTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 45 }"
            >
              This field cannot be longer than 45 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.shop.place" for="field_place">Place</label>
          <input type="text" class="form-control" name="place" id="field_place" data-cy="place" formControlName="place" />
          <div *ngIf="editForm.get('place')!.invalid && (editForm.get('place')!.dirty || editForm.get('place')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('place')?.errors?.required" ceetTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('place')?.errors?.maxlength"
              ceetTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 45 }"
            >
              This field cannot be longer than 45 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" ceetTranslate="yourpcstoreApp.shop.phoneShop" for="field_phoneShop">Phone Shop</label>
          <input type="number" class="form-control" name="phoneShop" id="field_phoneShop" data-cy="phoneShop" formControlName="phoneShop" />
          <div *ngIf="editForm.get('phoneShop')!.invalid && (editForm.get('phoneShop')!.dirty || editForm.get('phoneShop')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('phoneShop')?.errors?.required"
              ceetTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('phoneShop')?.errors?.number"
              ceetTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span ceetTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span ceetTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
