<div>
  <h2 id="page-heading" data-cy="ProductHeading">
    <span ceetTranslate="yourpcstoreApp.product.home.title">Products</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span ceetTranslate="yourpcstoreApp.product.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-product"
        [routerLink]="['/product/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span ceetTranslate="yourpcstoreApp.product.home.createLabel"> Create a new Product </span>
      </button>
    </div>
  </h2>

  <ceet-alert-error></ceet-alert-error>

  <ceet-alert></ceet-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="products?.length === 0">
    <span ceetTranslate="yourpcstoreApp.product.home.notFound">No products found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="products && products.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span ceetTranslate="global.field.id">ID</span></th>
          <th scope="col"><span ceetTranslate="yourpcstoreApp.product.nameProduct">Name Product</span></th>
          <th scope="col"><span ceetTranslate="yourpcstoreApp.product.price">Price</span></th>
          <th scope="col"><span ceetTranslate="yourpcstoreApp.product.dealer">Dealer</span></th>
          <th scope="col"><span ceetTranslate="yourpcstoreApp.product.productList">Product List</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/product', product.id, 'view']">{{ product.id }}</a>
          </td>
          <td>{{ product.nameProduct }}</td>
          <td>{{ product.price }}</td>
          <td>
            <div *ngIf="product.dealer">
              <a [routerLink]="['/dealer', product.dealer?.id, 'view']">{{ product.dealer?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="product.productList">
              <a [routerLink]="['/dealer', product.productList?.id, 'view']">{{ product.productList?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/product', product.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" ceetTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/product', product.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" ceetTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(product)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" ceetTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
