<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="rol">
      <h2 data-cy="rolDetailsHeading"><span ceetTranslate="yourpcstoreApp.rol.detail.title">Rol</span></h2>

      <hr />

      <ceet-alert-error></ceet-alert-error>

      <ceet-alert></ceet-alert>

      <dl class="row-md jh-entity-details">
        <dt><span ceetTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ rol.id }}</span>
        </dd>
        <dt><span ceetTranslate="yourpcstoreApp.rol.roleName">Role Name</span></dt>
        <dd>
          <span>{{ rol.roleName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span ceetTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/rol', rol.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span ceetTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
